# MODE must be either dev or prod
MODE=dev

DEV_FRONTEND_URL=http://localhost:3000

FRONTEND_URL=https://test.com

# base64 encoded string
JWT_SECRET=5a3ba5ad6a28cd2f0974af17f315c1d2b88fa07c08663ddbcad47a7ed19284fe

# length of time you would like the JWT to be active for (in hours; integer)
JWT_HOURS_ACTIVE=4

# SKIP_AUTH must be a boolean in lowercase
SKIP_AUTH=true


# DATABASE_URL should be created automatically when `cargo run`
# or `cargo build` is executed. The important thing is that the
# crate builds. At that point, the bash script is ran and creates
# the DATABASE_URL env var for you. If for whatever reason you
# cannot build the crate, it's probably because of this variable
# here. postgres://root:root@[IP Address]:5440/webservice_tutorial should be
# the value of the variable. You replace the [IP Address] with
# the output of this command: `ipconfig | grep inet`. You then
# should choose an ipv4 to replace the [IP Address] with. Make
# sure to remove the brackets too. You may have to try several
# different ip addresses to get this to work. You will know it's
# working when the crate compiles after running `cargo run`.